# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: API Entreprise
email: tech@entreprise.api.gouv.fr
description: > # this means to ignore newlines until "baseurl:"
  Simplifier les démarches des entreprises en récupérant pour elles
  leurs données et documents administratifs.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://sandbox.entreprise.api.gouv.fr" # the base hostname & protocol for your site, e.g. http://example.com
cgu_file_link: https://dashboard.entreprise.api.gouv.fr/static/cgu.pdf
twitter_username: jekyllrb
github_username:  jekyll

destination: ./_site

permalink: pretty

# Collections
collections:
  - providers

# API Entreprise specific variables
api_documentation_url: https://entreprise.api.gouv.fr/documentation
dashboard_url: https://dashboard.entreprise.api.gouv.fr
gitbook_url: https://etalab-entreprise.gitbooks.io/api-entreprise-documentation-infra/content/

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

sass:
  style: compressed
