<form class="tpl-hero__form catalogue__search">
  <label for="tpl-hero__search">Chercher une information</label>
  <div class="tpl-form__group">
    <input type="submit" class="tpl-hero__search-button" value="" role="button" aria-label="Rechercher" />
    <input id="catalogue-search" type="text" class="tpl-hero__search" name="catalogue-search" />
    <select id="catalogue-scope" type="text" class="tpl-hero__search" name="catalogue-scope">
      <option value="">sur une entreprise ou une association</option>
      <option value="entreprises">sur une entreprise</option>
      <option value="associations">sur une association</option>
    </select>
  </div>
</form>