<footer class="tpl-footer" role="contentinfo">
  <div class="tpl-container">
    <div class="tpl-flex-row tpl-flex-jc-sb">
      <ul class="tpl-footer__links">
        <li>
          <h2>Un service de la DINUM réalisé par <a href="https://etalab.gouv.fr"><img src="{{ site.baseurl }}{% link assets/images/etalab.svg %}" /></a></h2>
        </li>
      </ul>
      {% for column in site.data.footer.columns %}
        <ul class="tpl-footer__links">
        <li><h3>{{ column.label }}<h3><li>
          {% for link in column.children %}
            {% if link.target %}
              {% assign target = site.pages | where:"path", link.target | first %}
              <li><a href="{{ site.baseurl }}{{ target.url }}">{{ link.label }}</a></li>
            {% elsif link.url %}
              <li><a href="{{ link.url }}">{{ link.label }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</footer>