<footer class="footer">
  <div class="container">
    <ul class="footer__links">
      <li><h4>Produit</h4></li>
      <li><a target="_blank" href="{{ site.api_documentation_url }}">API - Documentation</a></li>
      <li><a target="_blank" href="{{ site.dashboard_url }}">Dashboard</a></li>
    </ul>
    <ul class="footer__links">
      <li><h4>Aide</h4></li>
      <li><a target="_blank" href="mailto:{{ site.email }}">Contact</a></li>
      <li><a href="{{ site.baseurl }}{% link pages/faq.md %}">FAQ</a></li>
      <li><a target="_blank" href="{{ site.gitbook_url }}">Infrastructure - Documentation</a></li>
    </ul>
    <ul class="footer__links">
      <li><h4>Légal</h4></li>
      <li><a href="{{ site.baseurl }}{% link pages/mentions.md %}">Mentions</a></li>
      <li><a href="{{ site.baseurl }}{% link pages/cgu.md %}">CGU</a></li>
    </ul>
  </div>
</footer>
