<header class="tpl-main-header" role="banner">
  <div class="tpl-container">
    <a class="tpl-main-header__link" href="{{ site.baseurl }}/">
      <img class="tpl-main-header__logo" src="{{ site.baseurl }}{% link assets/images/logo_site.svg %}"
        alt="{{ .Site.Title }}" />
    </a>
    <nav class="tpl-site-nav" role="navigation">
      <button id="toggle-nav" class="tpl-button tpl-button-alternate">
        Menu
        <svg class="tpl-icon" viewBox="0 0 24 24">
          <use xlink:href="#menu"></use>
        </svg>
      </button>
      <ul class="tpl-site-nav__links">
        {% for link in site.data.header %}
          {% if link.target %}
            {% assign target = site.pages | where:"path",link.target | first %}

            <li class="tpl-site-nav__item
                {% if link.button %}no-underline{% endif %}">
              <a href="{{ site.baseurl }}{{ target.url }}" {% if link.class %}class="tpl-button {{ link.button }}"
                {% endif %}>{{ link.label }}
              </a>
              {% if link.icon %}
                <svg class="tpl-icon" viewBox="0 0 24 24">
                  <use xlink:href="#{{ link.icon }}"></use>
                </svg>
              {% endif %}
            </li>
          {% elsif link.url %}
            <li class="tpl-site-nav__item {% if link.button %}no-underline{% endif %}">
              <a href="{{ link.url }}" {% if link.button %}class="tpl-button {{ link.buttonclass }}"
                {% endif %}>
                {{ link.label }}
              </a>
              {% if link.icon %}
                <svg class="tpl-icon" viewBox="0 0 24 24">
                  <use xlink:href="#{{ link.icon }}"></use>
                </svg>
              {% endif %}
            </li>
          {% elsif link.children %}
            <li class="tpl-site-nav__item no-underline dropdown">
              <a href="#">
                {{ link.label }}
              </a>

              <div class="dropdown-content">
                {% for child in link.children %}
                  {% if child.target %}
                    {% assign target = site.pages | where:"path",child.target | first %}

                    <a href="{{ site.baseurl }}{{ target.url }}">
                      {{ child.label }}
                    </a>
                  {% elsif child.url %}
                    <a href="{{ child.url }}">
                      {{ child.label }}
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
