<header class="tpl-main-header" role="banner">
  <a class="tpl-main-header__link" href="{{ site.baseurl }}/">
    <img class="tpl-main-header__logo" src="{{ site.baseurl }}{% link assets/images/logo_site.svg %}" alt="{{ .Site.Title }}" />
  </a>
  <nav class="tpl-site-nav" role="navigation">
    <ul class="tpl-site-nav__links">
      <li class="tpl-site-nav__item">
        <a href="https://doc.entreprise.api.gouv.fr/" title="Documentation">Documentation</a>
      </li>
      <li class="tpl-site-nav__item">
        <a href="{{ site.baseurl }}{% link pages/use_cases.html %}" title="Cas d’usage">Cas d’usage</a>
      </li>
      <li class="tpl-site-nav__item">
        <a href="{{ site.baseurl }}{% link pages/stats.html %}" title="Stats">Stats</a>
      </li>
    </ul>
  </nav>
</header>