<nav class="nav">
  <div class="nav__container">
    <a class="nav__link" href="{{ site.baseurl }}/index.html">
      <img class="nav__logo" src="{{ site.baseurl }}{% link assets/images/logo_site.svg %}" alt="Accueil de API Entreprise" />
    </a>

    <ul class="nav__links">
      <li><a href="{{ site.baseurl }}{% link providers.html %}">Les fournisseurs</a></li>
      <li><a href="{{ site.baseurl }}{% link pages/use_cases.html %}">Cas d'usage</a></li>
      <li><a href="{{ site.baseurl }}{% link pages/stats.html %}">Stats</a></li>
      <li><a href="{{ site.baseurl }}{% link pages/faq.md %}">FAQ</a></li>
    </ul>
  </div>
</nav>
