<a href="{{ site.baseurl }}{% link _use_cases/covid-19.md %}" class="tpl-card tpl-shadow covid">
  <div class="tpl-card__header">
    <h3 class="tpl-card__title"><strong>Subventions spécifiques Covid-19</strong> instruites par les régions</h3>
  </div>
  <div class="tpl-card__content">
    <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/covid.svg %}" alt="" />
    <p>Vérifiez l'éligibilité des demandes des TPE et associations à l'aide complémentaire dans le cadre de la crise sanitaire.</p>
  </div>
</a>
<a href="{{ site.baseurl }}{% link _use_cases/marches_publics.md %}" class="tpl-card tpl-shadow">
  <div class="tpl-card__header">
    <h3 class="tpl-card__title">Faciliter les dossiers de candidature aux <strong>marchés publics</strong></h3>
  </div>
  <div class="tpl-card__content">
    <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/marches-publics.svg %}" alt="" />
    <p>Pré-remplissez les formulaires des entreprises postulant à vos appels d’offre et récupérez leurs justificatifs.</p>
  </div>
</a>
<a href="{{ site.baseurl }}{% link _use_cases/aides_publiques.md %}" class="tpl-card tpl-shadow">
  <div class="tpl-card__header">
    <h3 class="tpl-card__title">Faciliter le dépôt et l’instruction des demandes d’<strong>aides publiques</strong></h3>
  </div>
  <div class="tpl-card__content">
    <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/aides-publiques.svg %}" alt="" />
    <p>Récupérez les justificatifs administratifs de vos utilisateurs demandant des aides publiques.</p>
  </div>
</a>
