<a href="{{ site.baseurl }}{% link _use_cases/marches_publics.md %}" class="tpl-card tpl-shadow">
  <div class="tpl-card__header">
    <h3 class="tpl-card__title">Faciliter les dossiers de candidature aux <strong>marchés publics</strong></h3>
  </div>
  <div class="tpl-card__content">
    <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/marches-publics-1.svg %}" alt="" />
    <p>Pré-remplissez les formulaires des entreprises postulant à vos appels d’offre et récupérez leurs justificatifs.</p>
  </div>
</a>
<a href="{{ site.baseurl }}{% link _use_cases/aides_publiques.md %}" class="tpl-card tpl-shadow">
  <div class="tpl-card__header">
    <h3 class="tpl-card__title">Faciliter le dépôt et l’instruction des demandes d’<strong>aides publiques</strong></h3>
  </div>
  <div class="tpl-card__content">
    <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/aide-publique.svg %}" alt="" />
    <p>Récupérez les justificatifs administratifs de vos utilisateurs demandant des aides publiques.</p>
  </div>
</a>
<a href="{{ site.baseurl }}{% link _use_cases/loi_energie.md %}" class="tpl-card tpl-shadow">
  <div class="tpl-card__header">
    <h3 class="tpl-card__title">Appliquer <strong>l’Article 64 de la loi énergie</strong></h3>
  </div>
  <div class="tpl-card__content">
    <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/loi-energie.svg %}" alt="" />
    <p>Vérifiez l’éligibilité de vos clients aux tarifs réglementés d’énergie en accédant à une partie de leurs données (Article 64 de la loi énergie).</p>
  </div>
</a>