<a href="{{ site.baseurl }}{% link _use_cases/covid_19.md %}" class="tpl-card tpl-shadow covid">
  <div class="tpl-card__header">
    <h3 class="tpl-card__title">Vérifier l'éligibilité des demandes de <strong>subventions Covid-19</strong> </h3>
  </div>
  <div class="tpl-card__content">
    <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/covid.svg %}" alt="" />
    <p>Vérifiez l'éligibilité des demandes des TPE et associations à l'aide complémentaire dans le cadre de la crise sanitaire.</p>
  </div>
</a>

<a href="{{ site.baseurl }}{% link _use_cases/marches_publics.md %}" class="tpl-card tpl-shadow">
  <div class="tpl-card__header">
    <h3 class="tpl-card__title">Faciliter la candidature aux <strong>marchés publics</strong> et leur instruction</h3>
  </div>
  <div class="tpl-card__content">
    <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/marches-publics.svg %}" alt="" />
    <p>Pré-remplissez les formulaires des entreprises postulant à vos appels d’offre et récupérez leurs justificatifs.</p>
  </div>
</a>

<a href="{{ site.baseurl }}{% link _use_cases/aides_publiques.md %}" class="tpl-card tpl-shadow">
  <div class="tpl-card__header">
    <h3 class="tpl-card__title">Faciliter le dépôt et l’instruction des <strong>aides et subventions publiques</strong></h3>
  </div>
  <div class="tpl-card__content">
    <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/aides-publiques.svg %}" alt="" />
    <p>Récupérez les justificatifs administratifs de vos utilisateurs demandant des aides publiques.</p>
  </div>
</a>
{% unless include.homepage %}
<a href="{{ site.baseurl }}{% link _use_cases/preremplissage.md %}" class="tpl-card tpl-shadow">
  <div class="tpl-card__header">
    <h3 class="tpl-card__title"><strong>Pré-remplir</strong> et personnaliser un <strong>formulaire</strong></h3>
  </div>
  <div class="tpl-card__content">
    <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/preremplissage.svg %}" alt="" />
    <p>Simplifiez la saisie d'un formulaire pour les usagers, en complétant directement avec les données connues par l'administration.</p>
  </div>
</a>

<a href="{{ site.baseurl }}{% link _use_cases/detection_fraude.md %}" class="tpl-card tpl-shadow">
  <div class="tpl-card__header">
    <h3 class="tpl-card__title">Simplifier les procédures de <strong>détection de la fraude</strong>.</h3>
  </div>
  <div class="tpl-card__content">
    <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/detection-fraude.svg %}" alt="" />
    <p>Accédez rapidement à des informations sociales, financières et économiques pour instruire les dossiers de fraude.</p>
  </div>
</a>

<a href="{{ site.baseurl }}{% link _use_cases/formulaires_preremplis_editeurs.md %}" class="tpl-card tpl-shadow">
  <div class="tpl-card__header">
    <h3 class="tpl-card__title">Accéder au service API Entreprise <strong>au travers de mon éditeur</strong>.</h3>
  </div>
  <div class="tpl-card__content">
    <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/formulaires-editeurs.svg %}" alt="" />
    <p>Par le biais d'un éditeur, vous proposez des services aux entreprises et associations ? Simplifiez leurs démarches administratives avec API Entreprise. </p>
  </div>
</a>
{% endunless %}
