
  <a href="{{ site.baseurl }}{% link _use_cases/editeurs.md %}" class="tpl-card tpl-shadow">
    <div class="tpl-card__header">
      <h3 class="tpl-card__title">Permettre à mes <strong>clients publics</strong> d'<strong>accéder aux données</strong>  de l'API Entreprise.</h3>
    </div>
    <div class="tpl-card__content">
      <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/editeurs-connection.svg %}" alt="" />
      <p>Éditeur prestataire d'acteurs publics ayant une mission de service public auprès des associations et des entreprises ? Connectez-vous à l'API Entreprise.</p>
    </div>
  </a>

  