.catalogue__search {

  .tpl-hero__search-button {
    left: 0.5em;
    z-index: 10;
  }
  
  .tpl-form__group {
    flex-direction: row;
  }

  #catalogue-search {
    padding: 0 var(--spacing-s) 0 var(--spacing-xl);
  }
  
  @media (max-width: 800px) {
    .tpl-form__group {
      flex-wrap: wrap;

      select {
        display: none;
      }
    }
  }
}

.catalogue-information {
  .tpl-button {
    background-color: var(--white);
    border-color: var(--primary);
    color: var(--primary);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin-bottom: var(--spacing-s);
  }
}

.catalogue {
  .hidden {
    display: none;
  }

  .tpl-documentation {
    display: flex;
  }

  .catalogue__category {
    margin-bottom: var(--spacing-xxl);
  }

  .catalogue__category-title {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  .documentation-card {
    background-color: var(--white);
    padding: 0;
    position: relative;
  }

  .documentation-card+.documentation-card {
    margin-top: var(--spacing-l);
  }

  .documentation-card h4 {
    display: flex;
    align-items: center;
    text-transform: initial;
  }

  .documentation-card h4 .tpl-icon {
    margin-right: var(--spacing-xs);
  }

  .documentation-card h4 img {
    height: 4em;
    margin-right: var(--spacing-xs);
  }

  .documentation-card ul {
    padding-left: var(--spacing-s);
  }

  .documentation-card hr {
    border-color: var(--grey);
  }

  .documentation-card summary {
    cursor: pointer;
  }

  .documentation-card dt {
    font-family: var(--font-family-default);
  }

  .documentation-card__header {
    padding: var(--spacing-l) var(--spacing-xxl);
  }

  .documentation-card__header h3 {
    margin-top: 0;
    padding-right: var(--spacing-m);
    position: relative;
  }

  .documentation-card__header .documentation__description {
    width: 80%;
  }

  .documentation-card__header dd p {
    margin-top: 0;
  }

  .documentation-card__header code {
    margin-bottom: 0.4em;
    margin-left: var(--spacing-xs);
    word-wrap: anywhere;
  }

  .endpoint-scope {
    position: absolute;
    left: 0;
    top: var(--spacing-l);
  }

  .endpoint-scope__item {
    padding: var(--spacing-xxs);
    display: flex;
    align-items: center;
  }

  .endpoint-scope__item .tpl-icon {
    color: var(--white);
    fill: var(--white);
    stroke: var(--white);
    height: var(--spacing-m);
    width: var(--spacing-m);
  }

  .description {
    flex-wrap: wrap;
  }

  .description ul {
    padding-left: var(--spacing-s);
  }

  .description .tpl-description-list {
    flex-basis: 35%;
    flex-shrink: 0;
  }

  .providers {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .providers img {
    margin-top: var(--spacing-s);
    max-height: 5em;
    max-width: 7em;
  }

  ul.tab-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0 var(--spacing-xl);
  }

  a.tab {
    border: 2px solid var(--button-border-alternate);
    border-bottom: 0;
    border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;
    color: var(--darker-grey);
    display: flex;
    align-items: center;
    margin-left: -2px;
    padding: var(--spacing-xxs) var(--spacing-s);
    position: relative;
    cursor: pointer;
    font-size: 0.925em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;
  }

  a.tab:hover {
    background: 0;
    border-color: var(--primary);
    color: var(--primary);
    z-index: 15;
  }

  a.tab.tab--active {
    border-color: var(--text-color-default);
    color: var(--text-color-default);
    z-index: 20;
  }

  a.tab .tpl-icon {
    margin-right: var(--spacing-xs);
  }

  .tab-content {
    padding: var(--spacing-l);
    display: none;
  }

  .tab-content--active {
    display: block;
  }

  .tab-content dt,
  .tab-content dd {
    display: inline;
  }

  .perimeter summary h4 {
    display: inline;
  }

  .service-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-m);

    .request-json {
      order: 3;
    }

    .response-description {
      order: 2;
    }

    .response-json {
      order: 4;
    }
  }

  .services {
    margin: 2em 0;
  }

  .services summary h4 {
    display: inline;
    margin: 0 0.5em 0.5em 0;
    text-decoration: underline;
  }

  .technical-documentation .columns {
    display: flex;
  }

  .technical-documentation .columns>div {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    margin: var(--spacing-s) 0;
    max-width: 48%;
    padding: 0;
  }

  .technical-documentation .columns .response {
    margin-left: var(--spacing-l);
  }

  .technical-documentation dl {
    display: block;
  }

  .technical-documentation .perimeter {
    padding: var(--spacing-s) 0;
  }

  .technical-documentation code {
    background-color: var(--lighter-grey);
  }

  .qa {
    background-color: var(--lighter-grey);
    border-radius: var(--border-radius-default);
    padding: var(--spacing-xs) var(--spacing-s);
    position: relative;
  }

  .qa + .qa {
    margin-top: var(--spacing-s);
  }

  .qa summary {
    padding-right: var(--spacing-s);
  }

  .qa summary::marker {
    content: '';
    display: none;
  }

  .qa summary::after {
    content: '▸';
    position: absolute;
    right: var(--spacing-s);
    top: var(--spacing-xs);
  }

  .qa[open] summary {
    font-weight: 700;
  }

  .qa[open] summary:after {
    content: '▾';
  }

  .json-example {
    border-radius: var(--border-radius-default);
    overflow: hidden;
    position: relative;
  }

  .json-example h5 {
    background-color: var(--grey);
    padding: var(--spacing-xs) var(--spacing-s);
    margin: 0;
    text-transform: initial;
  }

  .json-example .tpl-input__group {
    position: absolute;
    right: var(--spacing-xs);
    top: var(--spacing-xs);

    .tpl-switch {
      margin-left: var(--spacing-xs);
    }
  }

  .json-example pre {
    border: 0;
    height: 100%;
    margin: 0;
  }

  .json-example code {
    background-color: var(--dark-grey);
    border-radius: 0;
    line-height: 1.5em;
    resize: vertical;
  }

  .technical-documentation .highlight { 
    margin: 0;
  }

  .technical-documentation .highlight code {
    height: 25em;
    white-space: pre-wrap;
    width: 100%;
  }

  .technical-documentation .highlight .nl {
    font-weight: 700
  }

  .technical-documentation code em,
  .technical-documentation code .c1,
  .technical-documentation code .err {
    color: var(--white);
    font-family: var(--font-family-default);
    font-size: 1.1em;
    font-style: italic;
    font-weight: 700;
    line-height: 1em;
  }

  .history {
    margin-top: var(--spacing-m);

    summary h4 {
      display: inline-block;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .availability .tpl-description-list {
    margin-top: 0;
  }
  
  .status-marker {
    background-color: #BFBFBF;
    border-radius: var(--border-radius-default);
    padding: var(--spacing-xxs) var(--spacing-s);
    color: var(--white);
    display: inline-block;
    height: 1.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0 var(--spacing-xs);
    vertical-align: middle;
  }

  .status-marker.success {
    background-color: #7ED321;
  }

  .status-marker.warning {
    background-color: #FFAD33;
  }

  .status-marker.error {
    background-color: #D32121;
  }

  .spot {
    display: none;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #BFBFBF;
    margin: 0 var(--spacing-xxs) 0 var(--spacing-xs);

    &.spot--sup99 {
      background-color: #7ED321;
      display: block;
    }

    &.spot--sup90 {
      background-color: #FFAD33;
      display: block;
    }

    &.spot--sup80 {
      background-color: #D32121;
      display: block;
    }
    
    &.spot--sub80 {
      background-color: #600462;
      display: block;
    }
  }

  .metrics {
    line-height: 1.25em;

    h4 {
      font-size: 1em;
      font-weight: 400;
      margin-top: var(--spacing-m);
      text-transform: uppercase;
    }

    .numbers {
      flex-shrink: 1;
    }

    .success-rate {
      margin-bottom: var(--spacing-s);
    }

    .spot {
      display: block;
      height: 1.75em;
      width: 1.75em;
      margin: 0 var(--spacing-xs) 0 0;
    }

    .rate {
      font-size: 2em;
      font-weight: 700;
    }

    .tpl-description-list {
      margin: 0;
    }

    .chart-container {
      flex-grow: 1;
      margin-top: 0;
      height: 100%;
      width: 100%;
      max-height: 400px;
    }

    .chart {
      height: 100%;
      min-height: 300px;
      width: 100%;
    }

    .line {
      fill: none;
      stroke: url('#availability-gradient');
      stroke-width: 2px;
    }

    .domain, .tick line {
      stroke: var(--dark-grey);
    }

    .tick text {
      color: var(--darker-grey);
    }
  }

  .availability-legend {
    font-size: 0.875em;

    p {
      font-weight: 700;
    }

    ul {
      padding: 0;
    }

    .legend {
      display: flex;
      line-height: 1em;
      list-style-type: none;
      margin-bottom: 1em;
    }

    .legend::before {
      border-radius: var(--border-radius-default);
      content: '';
      display: inline-block;
      flex-shrink: 0;
      width: var(--spacing-xl);
      height: 1em;
      background-color: #BFBFBF;
      margin-right: var(--spacing-s);
    }

    .legend--sup99::before {
      background-color: #7ED321;
    }

    .legend--sup90::before {
      background-color: #FFAD33;
    }

    .legend--sup80::before {
      background-color: #D32121;
    }

    .legend--sub80::before {
      background-color: #600462;
    }

    .legend--insufficient {
      margin-top: var(--spacing-l);
    }
  }

  .availability-table {
    flex-grow: 1;

    .month {
      display: flex;
      flex: 1 1;
      flex-direction: column;
      justify-content: end;

      &::after {
        content: attr(data-month);
        margin-top: var(--spacing-xs);
        font-size: 0.75em;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .day {
      border: 2px solid transparent;
      border-radius: var(--border-radius-default);
      color: var(--white);
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2px 10%;
      font-size: 0.875em;
      font-weight: 700;
      cursor: default;
      position: relative;
        
      &.legend--sup99 {
        background-color: #7ED321;
      }

      &.legend--sup90 {
        background-color: #FFAD33;
      }

      &.legend--sup80 {
        background-color: #D32121;
      }

      &.legend--sub80 {
        background-color: #600462;
      }

      &.legend--insufficient {
        margin-top: var(--spacing-l);
      }

      &:hover {
        border-color: rgb(72, 156, 255);

        &::before {
          position: absolute;
          top: -4em;
          left: 50%;
          transform: translateX(-50%);
          background: rgba(0,0,0, 0.8);
          border-radius: var(--border-radius-default);
          content: attr(data-day);
          padding: var(--spacing-xxs) var(--spacing-xs);
          text-align: center;
          z-index: 10;
        }
      }
    }
  }

  .general-doc {
    padding: 0 var(--spacing-s);

    a {
      text-decoration: none;
    }
  }

  .general-doc .tpl-icon {
    width: 4em;
    height: 4em;
    margin-right: var(--spacing-xs);
  }

  button.button-link {
    top: var(--spacing-s);
  }

  .documentation-card__header:hover .button-link {
    display: block;
  }

  @media (max-width: 1085px) {
    .technical-documentation .columns {
      flex-direction: column;
    }

    .technical-documentation .columns>div {
      max-width: 100%;
    }

    .technical-documentation .columns .response {
      margin-left: 0;
    }

    .service-description {
      grid-template-columns: 1fr;

      .request-json {
        order: 2;
      }

      .response-content {
        order: 3;
      }
    }

    .metrics > .tpl-flex-row {
      flex-direction: column;

      > :first-child {
        margin-bottom: var(--spacing-m);
      }
    }
  }

  @media (max-width: 800px) {
    .tpl-documentation__sidebar {
      display: none;
    }

    .description .tpl-description-list {
      flex-basis: auto;
      flex-shrink: 1;
    }

    ul.tab-list {
      margin: 0;
    }
  }
}