---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'css/template.min.css';
@import 'responsive_utilities';

@import 'components/dropdown';
@import 'components/micromodal';

@import 'main';
@import 'algolia';
@import 'home';
@import 'sidenav';
@import 'providers';
@import 'stats';
@import 'usecases';
@import 'catalogue';
@import 'documentation';
@import 'support';
@import 'newsletters';

.fixed-banner {
  background-color: var(--danger);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
