.documentation {
  a.tpl-button--alternate {
    background-color: var(--white);
    border-color: var(--primary);
    color: var(--primary);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin-bottom: var(--spacing-s);
  }

  .tpl-documentation__links {
    background-color: transparent;
    box-shadow: none;

    .link-to-habilitation {
      margin: var(--spacing-xs) var(--spacing-xl);
      width: max-content;
    }

    details[open] + .link-to-habilitation {
      display: none;
    }
  }

  .tpl-documentation__sidebar {
    flex-basis: 25em;
  }

  .fold {
    background-color: var(--white);
    border: 1px solid var(--lighter-grey);
    border-radius: var(--border-radius-default);
    margin-bottom: var(--spacing-xs);
    padding: var(--spacing-xs) var(--spacing-s);

    & > :not(summary) {
      margin-left: var(--spacing-s);
      margin-right: var(--spacing-s);
    }

    h4 ~ *:not(h4) {
      margin-left: var(--spacing-l);
    }

    summary {
      h2, h3, h4, h5, h6 {
        display: inline;
        font-weight: 400;
      }

      h3 {
        font-size: 1.25em;
      }
    }

    &[open] {
      summary {
        h2, h3, h4, h5, h6 {
          font-weight: 700;
        }
      }
    }
  }

  .link-to-catalogue {
    align-items: center;
    margin: 0 var(--spacing-s);
    text-decoration: none;

    svg {
      height: 40px;
      width: 40px;
      flex-shrink: 0;
      flex-basis: 40px;
      margin-right: var(--spacing-m);
    }
  }
  
  table {
    border-collapse: none;
    width: auto;
  }

  td {
    vertical-align: top;

    img {
      margin-left: var(--spacing-s);
      max-width: 400px;
    }
  }

  .example {
    border-left: 3px solid var(--light-grey);
    color: var(--dark-grey);
    padding: var(--spacing-xs) var(--spacing-m);
  }

  blockquote {
    background-color: var(--lighter-grey);
    border-radius: var(--border-radius-default);
    color: var(--darker-grey);
    padding: var(--spacing-m) var(--spacing-xl);
    position: relative;
  }

  blockquote::before,
  blockquote::after {
    display: block;
    font-size: 2.5em;
    position: absolute;
  }

  blockquote::before {
    content: "“";
    left: var(--spacing-s);
    top: var(--spacing-s);
  }
  
  blockquote::after {
    content: "”";
    right: var(--spacing-s);
  }
}