.documentation-hero {
  #search-box-wrapper {
    margin-top: 20px;
    margin-bottom: -20px;

    h5 {
      margin: 0;
      padding-left: 10px;
      margin-bottom: 5px;

      button {
        display: none;
      }
    }
  }
}

.documentation {
  .ais-Hits-item {
    h2 {
      margin-top: .83em;
    }
  }

  .tpl-documentation__links {
    background-color: transparent;
    box-shadow: none;

    .link-to-habilitation {
      margin: var(--spacing-xs) var(--spacing-xl);
      width: max-content;
    }

    details[open] + .link-to-habilitation {
      display: none;
    }
  }

  .tpl-documentation__sidebar {
    flex-basis: 25em;
  }

  .link-to-catalogue {
    align-items: center;
    margin: 0 var(--spacing-s);
    text-decoration: none;

    svg {
      height: 40px;
      width: 40px;
      flex-shrink: 0;
      flex-basis: 40px;
      margin-right: var(--spacing-m);
    }
  }

  table {
    border-collapse: none;
    width: calc(100% - 4em);
  }

  td {
    vertical-align: top;

    img {
      margin-left: var(--spacing-s);
      max-width: 400px;
    }
  }

  .example {
    border-left: 3px solid var(--light-grey);
    color: var(--dark-grey);
    padding: var(--spacing-xs) var(--spacing-m);
  }

  blockquote {
    background-color: var(--lighter-grey);
    border-radius: var(--border-radius-default);
    color: var(--darker-grey);
    padding: var(--spacing-m) var(--spacing-xl);
    position: relative;
  }

  blockquote::before,
  blockquote::after {
    display: block;
    font-size: 2.5em;
    position: absolute;
  }

  blockquote::before {
    content: "“";
    left: var(--spacing-s);
    top: var(--spacing-s);
  }

  blockquote::after {
    content: "”";
    right: var(--spacing-s);
  }

  .category-title {
    padding-right: 1.5em;
    position: relative;
  }

  .link-ref {
    padding-right: 1em;
  }


  @media (max-width: 1000px) {
    .tpl-documentation__sidebar {
      display: none;
    }

    table {
      border: 0;
      box-shadow: none;

      thead {
        display: none;
      }

      td {
        border: 0;
        display: block;
        text-align: center;

        img {
          margin: auto;
          max-width: 100%;
        }
      }
    }

    table.tpl-table {
      tr {
        display: block;
        margin-bottom: var(--spacing-m);
        border: 0;
        box-shadow: var(--box-shadow-default);
      }

      td {
        border: 1px solid var(--lighter-grey);
      }
    }

    .fold code {
      word-wrap: anywhere;
    }
  }

  @media (max-width: 500px) {
    .fold {
      margin-left: -1.5em;
      margin-right: -1.5em;
    }

    .fold > :not(summary) {
      margin-left: 0;
      margin-right: 0;
    }

    .fold h4 ~ :not(h4) {
      margin-left: 0;
    }

    table {
      width: 100%;
    }
  }
}
