.home .notification {
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  border: 0;
  padding: 1em;

  &.notification-info {
    color: white;
    background-color: var(--info);
  }

  &.notification-notice {
    background-color: #ffcb00;
  }
}

.home .tpl-hero__title {
  display: flex;
  flex-direction: column;
  font-size: 2.5em;;
  text-align: center;
}

.home .tpl-hero__title .headline {
  align-items: center;
  display: inline-flex;
  justify-content: center
}

.home .tpl-hero__title .headline-core {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.home .tpl-hero__title .subtext {
  font-size: 0.625em;
  line-height: 1.25em;
  margin-top: 1em;
}

@media (max-width: 1000px) {
  .home .tpl-hero .subtext {
    margin-top: 0;
  }
}

.home .tpl-hero__title .alternate {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter;
  display: inline-flex;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
  box-sizing: border-box;
}

.home .tpl-hero__title .alternate2 {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter2;
  display: inline-flex;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
  box-sizing: border-box;
}

.home .tpl-hero__title .alternate::after,
.home .tpl-hero__title .alternate2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes typewriter {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 10.25em;
  }
}

@keyframes typewriter2 {
  0%, 50%, 100% {
    width: 0;
  }

  60%, 90% {
    width: 20.25em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.access {
  text-align: center;
}

.join {
  text-align: center;
}

.join h2 {
  margin: 0;
}

.join .tpl-card {
  border: 0;
  flex: 1 1 0;
  margin: 0;
}

.join .tpl-card__header {
  flex-direction: column;
}

.join .tpl-card__header .bullhorn {
  margin: var(--spacing-m)
}
.join .tpl-card__header .grip {
  margin: var(--spacing-s);
}

.join .tpl-card dl.tpl-description-list {
  text-align: left;
  font-size: 16px;
}

.join .tpl-card .tpl-description-list dt {
  color: var(--darkest-grey);
  position: relative;
  display: inline-block;
  font-style: italic;
  z-index: 1;
}

.join .tpl-card .tpl-description-list dt::after {
  content: '';
  position: absolute;
  bottom: 0.4em;
  background-color: rgba(255, 120, 120, 0.49);
  display: block;
  width: 100%;
  height: 50%;
  z-index: -1;
}

.join .tpl-card .tpl-description-list dt:last-of-type::after {
  background-color: rgba(150, 255, 154, 0.49);
}

@media (max-width: 1000px) {
  .join .tpl-flex-row {
    flex-flow: wrap;
  }

  .join .tpl-card {
    flex: 1 0 100%;
  }
}

.providers {
  text-align: center;
}

// Aloglia
.home {
  #search-box-wrapper {
    position: relative;
    width: 80%;
    margin: auto;
  }

  #hits {
    color: var(--text-color-primary);

    position: absolute;
    left: 0px;
    right: 0px;
    width: 70%;

    z-index: 10;

    background-color: white;
    box-shadow: 0 -1px 3px rgba(0,0,0,.5);

    padding: 20px;

    h3 {
      font-size: 1.2em;
      text-decoration: underline;
    }

    .ais-Hits--empty {
      color: var(--text-color-alternate);
      font-style: italic;
      padding: 10px;
    }

    a.category {
      font-size: 1.3em;
      text-decoration: none;

      span {
        text-decoration: underline;
      }

      svg {
        margin-right: 5px;
      }
    }

    .results {
      margin: 10px 0;
    }

    a.result {
      color: #0048b3;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      margin: 0px;

      margin-left: -10px;

      &:hover {
        // FIXME primary color
        background-color: #0048b3;
        color: #ffffff;
      }
    }
  }

  #hits-catalogue {
    a.result {
     border-color: #b6b6b630;
     border: 0.1em solid;
     margin-bottom: 10px;
    }

    .ais-Hits-item {
      margin: 0;
      padding: 0;
    }

    .type {
      font-size: .6em;
      margin-top: -8px;
    }

    .providers{
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-variant-caps: small-caps;
    }

    .description {
      background-color: #b6b6b630;
      border-radius: 4px;
      font-size: 14px;
      padding: 10px;
      line-height: 14px;
      margin: 0px;
    }

    p {
      margin: 0px;
    }
  }

  #hits-documentation {
    .see-more {
      margin-top: 10px;
      font-size: 0.9em;

      font-style: italic;
      padding: 5px 15px;
      background-color: #0048b326;
    }
  }

  #hits-use-cases {
    a.result {
      margin: 0px;
    }
    .ais-Hits-item {
      margin: 0;
      padding: 0;
      font-weight: normal;
    }
  }

  #hits-support {
  }
}

@media (max-width: 1000px) {
  .home {
    #search-box-wrapper {
      width: 90%;
    }

    #hits {
      width: 100%;
    }
  }
}

.home {
  #fonctionnement_api_entreprise {
    display: block;
    width: 100%;

    img {
      max-width: 1100px;
    }

    & .xs {
      width: 70%;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    & .md {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
