.home .tpl-hero__title {
  display: flex;
  flex-direction: column;
  font-size: 2.5em;;
  text-align: center;
}

.home .tpl-hero__title .headline {
  align-items: center;
  display: inline-flex;
  justify-content: center
}

.home .tpl-hero__title .headline-core {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.home .tpl-hero__title .subtext {
  font-size: 0.625em;
  line-height: 1.25em;
  margin-top: 1em;
}

.home .tpl-hero__title .alternate {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter;
  display: inline-flex;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
  box-sizing: border-box;
}

.home .tpl-hero__title .alternate2 {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter2;
  display: inline-flex;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
  box-sizing: border-box;
}

.home .tpl-hero__title .alternate::after,
.home .tpl-hero__title .alternate2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes typewriter {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 10.25em;
  }
}

@keyframes typewriter2 {
  0%, 50%, 100% {
    width: 0;
  }
  
  60%, 90% {
    width: 20.25em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.access {
  text-align: center;
}

.join {
  text-align: center;
}

.join h2 {
  margin: 0;
}

.join .tpl-card {
  border: 0;
  flex: 1 1 0;
  margin: 0;
}

.join .tpl-card__header {
  flex-direction: column;
}

.join .tpl-card__header .bullhorn {
  margin: var(--spacing-m)
}
.join .tpl-card__header .grip {
  margin: var(--spacing-s);
}

.join .tpl-card dl.tpl-description-list {
  text-align: left;
  font-size: 16px;
}

.join .tpl-card .tpl-description-list dt {
  color: var(--darkest-grey);
  position: relative;
  display: inline-block;
  font-style: italic;
  z-index: 1;
}

.join .tpl-card .tpl-description-list dt::after {
  content: '';
  position: absolute;
  bottom: 0.4em;
  background-color: rgba(255, 120, 120, 0.49);
  display: block;
  width: 100%;
  height: 50%;
  z-index: -1;
}

.join .tpl-card .tpl-description-list dt:last-of-type::after {
  background-color: rgba(150, 255, 154, 0.49);
}

.providers {
  text-align: center;
}
