code {
  word-break: break-all;
}

.inherit {
  position: inherit!important;
}

.tpl-container {
  max-width: 1400px;
}

.tpl-main-header {
  background-color: var(--white);
  box-shadow: 0 -1px 3px rgba(0,0,0,.5);
  position: sticky;
  top: 0;
  z-index: 10;

  .tpl-container {
    padding: 0 var(--spacing-s);
  }
}

a.tpl-main-header__link:hover {
  background: 0;
}

.tpl-main-header__logo {
  height: 1.5em;
}

.tpl-site-nav__links {
  margin: 0;
}

.tpl-main-header .tpl-site-nav__item.no-underline::after {
  content: none;
}

.tpl-main-header a.tpl-button {
  padding: 0.5em 1em;
}

.tpl-main-header a.tpl-button::after {
  content: none;
}

#toggle-nav {
  display: none;
  background-color: var(--white);
  color: var(--text-color-default);
}

a.external-link::after {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='external-link' viewBox='0 0 24 24'%3E%3Ctitle%3Eexternal link%3C/title%3E%3Cg class='nc-icon-wrapper'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.704 13.707l7.293-7.293V11h2V3h-8v2h4.586l-7.293 7.293 1.414 1.414zM19 19v-5h-2v5H5V7h5V5H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2z' fill='currentColor' stroke-color='currentColor' /%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='external-link' viewBox='0 0 24 24'%3E%3Ctitle%3Eexternal link%3C/title%3E%3Cg class='nc-icon-wrapper'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.704 13.707l7.293-7.293V11h2V3h-8v2h4.586l-7.293 7.293 1.414 1.414zM19 19v-5h-2v5H5V7h5V5H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2z' fill='currentColor' stroke-color='currentColor' /%3E%3C/g%3E%3C/svg%3E");
}

@media (max-width: 1000px) {
  .tpl-main-header .tpl-container {
    padding-top: var(--spacing-xs);
  }

  .tpl-site-nav__links {
    display: none;
  }

  #toggle-nav {
    display: block;
  }

  .tpl-button.active + .tpl-site-nav__links {
    background-color: var(--white);
    border: 1px solid var(--border-color-default);
    box-shadow: var(--box-shadow-default);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4em;
    right: 1em;
    z-index: 10;
  }

  .tpl-site-nav__item {
    color: var(--text-color-default);
    margin: 0;
    padding: 0 var(--spacing-m);
    width: 100%;

    &:hover {
      background-color: var(--lighter-grey);
    }

    &::after {
      content: none;
    }

    a.tpl-button {
      border: 0;
      box-shadow: none;
      padding: var(--spacing-s) 0;
    }
  }
}

.text-center {
  text-align: center;
}

.tpl-main {
  display: flex;
  flex-direction: column;
}

.tpl-main > :last-child {
  flex-grow: 1;
}

.tpl-footer img {
  height: 2em;
  display: inline;
  margin-top: var(--spacing-m);
}

@media (max-width: 1000px) {
  .tpl-footer .tpl-flex-row {
    flex-flow: wrap;
  }

  .tpl-footer__links {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

.tpl-hero {
  padding: 2em 0;
}

.tpl-hero h1 {
  margin: 0;
}

.tpl-hero.left .tpl-container {
  align-items: start;
}

.use-cases {
  background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #DAEAFE;
}

.use-cases h2 {
  font-size: 1.375em;
  font-weight: 400;
}

.use-cases__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
}

.use-cases__list .tpl-card {
  flex: 0 1 31%;
  display: inline-flex;
  justify-content: space-between;
  width: 25em;
  white-space: normal;
  text-decoration: none;
  scroll-snap-align: start;
}

.use-cases .tpl-card__title {
  font-size:  1.25em;
  font-weight: 400;
}

.use-cases .tpl-card__title strong {
  color: var(--primary);
}

.use-cases .covid .tpl-card__title strong {
  color: var(--danger);
}

.use-cases .tpl-card__content p {
  margin-bottom: 0;
}

.use-cases .card__icon {
  margin: 0 auto;
  height: 8em;
}

.use-cases .tpl-button {
  margin: auto;
  background: var(--white);
}

@media (max-width: 1000px) {
  .use-cases__list .tpl-card {
    flex: 0 1 100%;
    margin: 10px auto;
  }
}

/* faq */
.small-hero {
  padding: 1em 0;
}

.small-hero .tpl-container {
  align-items: start;
}

.tpl-documentation .tpl-container {
  align-items: start;
  position: relative;
}

.tpl-documentation__sidebar {
  position: sticky;
  top: 2em;
}

.tpl-documentation a.tpl-button {
  color: var(--white);
  margin: var(--spacing-m) 0;
}

.tpl-documentation__content {
  scroll-snap-type: y mandatory;
}

/* cas d'usage */
.use-cases .contact {
  margin-top: 3em;
}

.use-cases a.tpl-card {
  text-decoration: none;
}

.catalogue,
.support,
.documentation {
  .tpl-documentation__links {
    background: 0;
    box-shadow: none;
    color: var(--primary);
    position: sticky;
    top: 5em;
  }

  .tpl-documentation__links h3 {
    padding: var(--spacing-s);
    padding-bottom: 0;
    font-size: 1.25em;
    text-decoration: underline;
  }

  .tpl-documentation__links h4 {
    font-size: 0.75em;
  }

  .tpl-documentation__link {
    display: flex;
    margin-left: 1.5em;
  }

  .tpl-documentation__sidebar {
    flex-basis: 20em;

    .tpl-button--alternate {
      background-color: var(--white);
      border-color: var(--primary);
      color: var(--primary);
      justify-content: center;
      margin-left: var(--spacing-xl);
    }
  }

  .tpl-documentation__sidebar summary,
  .documentation .tpl-documentation__sidebar a {
    color: var(--primary);
    cursor: pointer;
    font-family: var(--font-family-title);
    font-weight: 700;
    margin: var(--spacing-xs) var(--spacing-m);
  }

  #flash {
    border-radius: var(--border-radius-default);
    display: none;
    padding: 0.75em 1.25em;
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    background-color: var(--darker-grey);
    color: var(--white);
    z-index: 100;
  }

  button.button-link {
    border: 0;
    box-shadow: none;
    color: #80A2D7;
    cursor: pointer;
    display: none;;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &:hover:not([disabled]) {
      color: var(--dark-grey);
    }

    svg {
      pointer-events: none;
    }
  }
}

.tpl-notification {
  background-image: none;
  padding: var(--spacing-xxs) var(--spacing-s) var(--spacing-xs);

  &::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE4IDhBNiA2IDAgMTA2IDhjMCA3LTMgOS0zIDloMThzLTMtMi0zLTl6bS00LjI3IDEzYTEuOTk5IDEuOTk5IDAgMDEtMy40NiAwIiBzdHJva2U9IiMwMEFGRTYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+");
    position: relative;
    top: 0.4em;
    margin-right: var(--spacing-xs);
  }
}

.tpl-notification.tpl--success {
  background-image: none;

  &::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIyIDExLjA4VjEyYTEwIDEwIDAgMTEtNS45My05LjE0IiBzdHJva2U9IiMxN0JEM0QiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PHBhdGggZD0iTTIyIDRMMTIgMTQuMDFsLTMtMyIgc3Ryb2tlPSIjMTdCRDNEIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==");
  }
}

.tpl-notification.tpl--danger {
  background-image: none;

  &::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwLjI5IDMuODZMMS44MiAxOGEyIDIgMCAwMDEuNzEgM2gxNi45NGEyIDIgMCAwMDEuNzEtM0wxMy43MSAzLjg2YTIgMiAwIDAwLTMuNDIgMHYwek0xMiA5djRtMCAzdi41IiBzdHJva2U9IiNEQzM1NDUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+");
  }
}
