.support {
  padding-bottom: 80px;
  background-color: var(--lightest-grey);

  .tpl-support__content {
    width: 70%;
    margin: auto;
  }

  @media (max-width: 1000px) {
    .tpl-support__content {
      width: 95%;
    }
  }

  .anchor {
    $header-height: 53px;
    $offset: $header-height + 0px;

    padding-top: $offset;
    margin-top: (-1)*$offset;
  }

  .fold {
    margin-top: 20px;

    summary {
      padding: 10px;
      cursor: pointer;
    }

    summary .label {
      color: white;
      font-weight: bold;
      border-radius: 15px;
      padding: 4px 12px;
      background-color: #C4C4C4;

      float: right;
    }
  }

  #search-box-wrapper {
    width: 60%;
    margin: auto;

    margin-top: -20px;
    margin-bottom: 40px;
  }

  @media (max-width: 1000px) {
    #search-box {
      width: 80%;
    }
  }
}
