.page-usecases {
  a.tpl-card {
    width: 100%;
  }
}

.tpl-usecase {
  .example {
    border-left: 3px solid var(--light-grey);
    color: var(--dark-grey);
    padding: var(--spacing-xs) var(--spacing-m);
  }
}
