---
layout: global
title: Données disponibles
permalink: /donnees_disponibles/
---

<div class="hero hero__small">
  <div class="hero__container">
    <h1>{{ page.title }}</h1>
  </div>
</div>
<section class="section-white providers-list">
  <div class="container">
    {% for provider in site.providers %}
      <article>
        <div class="providers__logo text-center"><img src={{site.baseurl}}{{provider.logo}} /></div>
        <div class="providers__info">
          <h2>{{ provider.title }}</h2>
          {{ provider.content }}

          {% if provider.sources_url %}
            <a target="_blank" href="{{ provider.sources_url }}" rel="noopener noreferrer">Plus d'informations sur le site du fournisseur</a>
          {% endif %}

          <div>
            {% assign related_data = site.available_data | where: 'provider_label', provider.label %}
            {% if related_data.size > 0 %}
            <h4>Les données mises à disposition</h3>
            <ul>
              {% for data in related_data %}
                <li><a href="{{ data.url | relative_url }}">{{ data.title }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</section>
