---
layout: documentation
title: Documentation générale
permalink: /documentation/
class: documentation
---

<div class="tpl-documentation__content">
  {% assign categories = site.documentation | sort: 'weight' %}
  {% for category in categories %}
    <h2>{{ category.title }}</h2>
    {% for panel in category.panels %}
      <details class="fold" id="{{ panel[1].id }}">
        <summary><h3>{{ panel[1].title }}</h3></summary>
        {{ panel[1].content | markdownify }}
      </details>
    {% endfor %}
  {% endfor %}
</div>
<aside class="tpl-documentation__sidebar">
  <nav class="tpl-documentation__links">
    {% for category in categories %}
      <details>
        <summary>{{ category.title }}</summary>
        {% for panel in category.panels %}
          <a class="tpl-documentation__link" href="#{{ panel[1].id }}">{{ panel[1].title }}</a>
        {% endfor %}
      </details>
    {% endfor %}
  </nav>
</aside>