.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 12px 16px;
  z-index: 1;

  min-width: 240px;

  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
