---
layout: default
---

{% include hero.html page=page %}
<section class="tpl-section tpl-documentation tpl-bg--lightest-grey">
  <div class="tpl-container">
    <aside class="tpl-documentation__sidebar">
      <nav class="tpl-documentation__links">
        <a class="tpl-documentation__link" href="#conditions-daccès">Conditions d’accès</a>
        <a class="tpl-documentation__link" href="#anticiper-la-demande-daccès">Anticiper la demande</a>
        <a class="tpl-documentation__link" href="#les-étapes-de-la-demande">Les étapes de la demande</a>
        <a class="tpl-button tpl-button--gradient" href="https://signup.api.gouv.fr/api-entreprise">🔑 Demander un accès</a>
      </nav>
    </aside>
    <div class="tpl-documentation__content">
      {{ content }}
    </div>
  </div>
</section>
