<!DOCTYPE html>
<html lang="fr">

{% include head.html %}

<body class="tpl-body">
  <div class="fixed-banner">
    <b>Vous êtes sur le site de la documentation v2</b>
    <br />
    Le site avec la documentation de la nouvelle version (v3) se trouve à l'adresse <a href="https://entreprise.api.gouv.fr">https://entreprise.api.gouv.fr</a>.
    <br />
    Cette version n'est officiellement plus maintenue et ne sera plus accessible en 2024.
  </div>

  {% include icons.html %}
  {% include header.html %}

  <main class="tpl-main">
    {{ content }}
  </main>

  {% include footer.html %}

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

  {% asset main.js %}
  {% asset menu.js %}

  {% for file in page.additional_js %}
    {% if file contains '://' %}
      <script type="text/javascript" src="{{ file }}"></script>
    {% else %}
      {% asset '{{file}}' %}
    {% endif %}
  {% endfor %}

  {% for file in page.additional_css %}
    {% if file contains '://' %}
      <link rel="stylesheet" type="text/css" href="{{ file }}">
    {% else %}
      {% asset '{{file}}' %}
    {% endif %}
  {% endfor %}

  <div id="scroll-to-top" onclick="window.scrollTo(0,0)" class="scroll-to-top hide-md scroll-hidden">
    {% asset 'scroll-to-top-white.svg' %}
  </div>

  {% if site.data.popup.enable %}
    {% include popup.html %}
  {% endif %}
</body>

</html>
