<!DOCTYPE html>
<html lang="fr">

{% include head.html %}

<body class="tpl-body">

  {% include icons.html %}
  {% include header.html %}

  <main class="tpl-main">
    {{ content }}
  </main>

  {% include footer.html %}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script type="text/javascript"
  src="{{ site.baseurl }}/assets/js/menu.js"></script>
  {% for file in page.additional_js %}
  <script type="text/javascript"
    src="{% if file contains '://' %}{{ file }}{% else %}{{ site.baseurl }}/assets/js/{{ file }}{% endif %}"></script>
  {% endfor %}
</body>

</html>