<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body class="tpl-body">

    {% include icons.html %}
    {% include header.html %}

    <main class="tpl-main">
      {{ content }}
    </main>

    {% include footer.html %}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
