---
layout: default
---

<section class="tpl-hero left documentation-hero">
  <div class="tpl-container">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}<p class="tpl-hero__subtitle">{{ page.subtitle }}</p>{% endif %}

    <div id="search-box-wrapper" class="hidden">
      <h5>
        Recherche par mots clés :
      </h5>
      <div id="search-box">
      </div>

      <div class="algolia-brand">
        Propulsé par {% asset 'algolia-logo.svg' %}
      </div>
    </div>
  </div>
</section>
<section class="tpl-section tpl-documentation tpl-bg--lightest-grey documentation">
  <div class="tpl-container">
    {{ content }}
  </div>
</section>
