---
layout: default
---

<div class="home">
  <section class="tpl-hero">
    <div class="tpl-container tpl-flex-row tpl-flex-jc-sa">
      <h1 class="tpl-hero__title">
        <div class="headline hide-xs">
          <span class="headline-core">Vous êtes&nbsp;</span>
          <span class="alternate">une administration ?</span>
          <span class="alternate2">éditeur prestataire d'une administration ?</span>
        </div>
        <div class="subtext">Simplifiez les démarches des entreprises et des associations<br />en récupérant pour elles
          leurs informations administratives</div>
    </div>
  </section>
  <section class="tpl-section use-cases">
    <div class="tpl-container">
      <h2>Dans quels cas utiliser API Entreprise ?</h2>
      <div class="use-cases__list">
        {% include usecases.html %}
      </div>
      <div class="text-center">
        <a class="tpl-button tpl-button--alternate" href="{{ site.baseurl }}{% link pages/use_cases.html %}">
          Tous les cas d'usages
        </a>
      </div>
    </div>
  </section>
  <section class="tpl-section access">
    <div class="tpl-container">
      <h2>Comment demander un accès à l’API Entreprise ?</h2>
      <p>Seules les administrations et les sociétés chargées d’une mission de service public sont éligibles.</p>
      <a class="tpl-button tpl-button--primary" href="{{ site.baseurl }}/doc/#demande-habilitation">
        Demander un accès
      </a>
      <p>Vous n’êtes pas une administration ? Utilisez <a
          href="https://entreprise.data.gouv.fr">entreprise.data.gouv.fr</a></p>
    </div>
  </section>
  <section class="tpl-section join">
    <div class="tpl-container">
      <h2>Pourquoi utiliser API Entreprise ?</h2>
      <div class="tpl-flex-row">
        <div class="tpl-card">
          <div class="tpl-card__header">
            <img class="card__icon bullhorn" src="{{ site.baseurl }}{% link assets/images/join/bullhorn.svg %}"
              alt="" />
            <h3>Nous regroupons<br />les fournisseurs de données pour vous !</h3>
          </div>
          <div class="tpl-card__content">
            <dl class="tpl-description-list">
              <dt>Avant :</dt>
              <dd>Vous deviez aller demander toutes les données dont vous aviez besoins auprès des différentes des
                administrations. Cette recherche n’était pas toujours fructueuse car les organisations n'ont pas
                toujours un site ou un contact public pour leurs API.
              </dd>
              <dt>Aujourd’hui, avec API Entreprise :</dt>
              <dd>API Entreprise s’occupe de démarcher les administrations et de faire les différentes demandes d’accès.
              </dd>
            </dl>
          </div>
        </div>
        <div class="tpl-card">
          <div class="tpl-card__header">
            <img class="card__icon plug" src="{{ site.baseurl }}{% link assets/images/join/plug.svg %}" alt="" />
            <h3>Nous réalisons l’interfaçage technique avec les différentes API</h3>
          </div>
          <div class="tpl-card__content">
            <dl class="tpl-description-list">
              <dt>Avant :</dt>
              <dd>Vous étiez obligés de vous connecter et de vous adapter à tous les formats différents des API. Vous
                passiez beaucoup de temps à lire les documentations techniques de chaque DSI afin d’effectuer les
                différentes intégrations.
              </dd>
              <dt>Aujourd’hui, avec API Entreprise :</dt>
              <dd>Désormais, API Entreprise s’occupe de tout. L’interfaçage ne se fait qu’avec nous, dans des standards
                à jour des contraintes industrielles.
              </dd>
            </dl>
          </div>
        </div>
        <div class="tpl-card">
          <div class="tpl-card__header">
            <img class="card__icon grip" src="{{ site.baseurl }}{% link assets/images/join/grip.svg %}" alt="" />
            <h3>Un seul compte,<br />un seul interlocuteur, plusieurs données</h3>
          </div>
          <div class="tpl-card__content">
            <dl class="tpl-description-list">
              <dt>Avant :</dt>
              <dd>Vous deviez gérer plusieurs mots de passe, plusieurs contacts techniques et métiers.
              </dd>
              <dt>Aujourd’hui, avec API Entreprise :</dt>
              <dd>Vous avez une seule clé d’accès sécurisée, nous nous occupons d’agréger et de vous restituer les
                connaissances techniques et métiers.
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tpl-section providers">
    <div class="tpl-container">
      <h2>Nos fournisseurs de données</h2>
      <ul class="providers__main text-center">
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/insee.png %}" alt="INSEE">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/infogreffe.png %}" alt="Infogreffe">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/dgfip.png %}"
            alt="Direction Générale des Finances Publiques">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/acoss.png %}" alt="ACOSS">
        </li>
      </ul>
      <ul class="providers__others text-center">
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/inpi.png %}" alt="INPI">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/qualibat.png %}" alt="Qualibat">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/rna.png %}"
            alt="Répertoire National des Associations">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/cnetp.png %}" alt="CNETP">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/probtp.png %}" alt="ProBTP">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/msa.png %}" alt="MSA">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/opqibi.png %}" alt="OPQIBI">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/fntp.png %}" alt="FNTP">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/agefiph.png %}" alt="AGEFIPH">
        </li>
      </ul>
    </div>
  </section>
</div>
