---
layout: global
---


<div class="hero">
  <div class="container hero__container">
    <div class="row">
      <div class="column illustration">
        <img class="city-illustration" src="{{ site.baseurl }}{% link assets/images/city.svg %}" alt="City">
      </div>
      <div class="column">
        <h1>
          entreprise.api.gouv.fr
        </h1>
        <p>
          Les APIs qui récupèrent pour vous les données des entreprises.
        </p>
      </div>
    </div>
  </div>
</div>
<section class="section-dark">
  <div class="container">
    <div class="row">
      <div class="column">
        <h2 class="text-center">
          Validité des données
        </h2>
        <p>
          Les données servies par l'API Entreprise sont issues directement des organismes de références.
        </p>
      </div>
      <div class="column">
        <h2 class="text-center">
          Echanges sécurisés
        </h2>
        <p>
          Les échanges s’appuient sur le format standard REST et nécessitent un token unique pour une identification simplifiée.
        </p>
      </div>
      <div class="column">
        <h2 class="text-center">
          JSON et PDFs
        </h2>
        <p>
          Les données sont servies au format JSON ou PDF selon que vous demandez de la donnée ou une attestation.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container providers">
    <h2 class="text-center">
      Nos fournisseurs de données
    </h2>
    <ul class="providers__main text-center">
      <li>
        <img class="" src="{{ site.baseurl }}{% link assets/images/providers/insee.png %}" alt="INSEE">
      </li>
      <li>
        <img class="" src="{{ site.baseurl }}{% link assets/images/providers/infogreffe.png %}" alt="Infogreffe">
      </li>
      <li>
        <img class="" src="{{ site.baseurl }}{% link assets/images/providers/dgfip.png %}" alt="Direction Générale des Finances Publiques">
      </li>
      <li>
        <img class="" src="{{ site.baseurl }}{% link assets/images/providers/acoss.png %}" alt="ACOSS">
      </li>
    </ul>
    <ul class="providers__others text-center">
      <li>
        <img class="" src="{{ site.baseurl }}{% link assets/images/providers/inpi.png %}" alt="INPI">
      </li>
      <li>
        <img class="" src="{{ site.baseurl }}{% link assets/images/providers/qualibat.png %}" alt="Qualibat">
      </li>
      <li>
        <img class="" src="{{ site.baseurl }}{% link assets/images/providers/rna.svg %}" alt="Répertoire National des Associations">
      </li>
      <li>
        <img class="" src="{{ site.baseurl }}{% link assets/images/providers/cnetp.svg %}" alt="CNETP">
      </li>
      <li>
        <img class="" src="{{ site.baseurl }}{% link assets/images/providers/probtp.png %}" alt="ProBTP">
      </li>
      <li>
        <img class="" src="{{ site.baseurl }}{% link assets/images/providers/msa.png %}" alt="MSA">
      </li>
      <li>
        <img class="" src="{{ site.baseurl }}{% link assets/images/providers/opqibi.png %}" alt="OPQIBI">
      </li>
      <li>
        <img class="" src="{{ site.baseurl }}{% link assets/images/providers/fntp.png %}" alt="FNTP">
      </li>
      <li>
        <img class="" src="{{ site.baseurl }}{% link assets/images/providers/agefiph.png %}" alt="AGEFIPH">
      </li>
    </ul>
  </div>
</section>

<section class="section-color ecosystem">
  <div class="container">
    <div class="row">
      <div class="column">
        <h2 class="text-center">
          data.gouv.fr
        </h2>
        <p>
          Si vous êtes à la recherche de la <a style="text-decoration: underline; color: white" href="https://www.data.gouv.fr/fr/datasets/base-sirene-des-entreprises-et-de-leurs-etablissements-siren-siret/">base SIRENE de l'INSEE</a> ou des données ouvertes du <a style="text-decoration: underline; color: white" href="https://www.data.gouv.fr/fr/datasets/repertoire-national-des-associations-rna/">Répertoire National des Associations</a>, ou de données sur d’autres sujets, vous pourrez les télécharger sur <a style="text-decoration: underline; color: white" href="https://www.data.gouv.fr/">data.gouv.fr</a>.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="tools">
  <div class="container">
    <div class="row">
      <div class="column icon">
        <img class="" src="{{ site.baseurl }}{% link assets/images/icons/icon-documentation.svg %}" alt="Icon documentation">
      </div>
      <div class="column doc">
        <h2>
          Documentation technique
        </h2>
        <p>
          Vous voulez évaluer les possibilités de l'API Entreprise ou commencer à vous interfacer&nbsp;? La documentation technique est faite pour vous. Vous y trouverez les informations techniques génériques, ainsi que le détail de chaque endpoint.
        </p>
        <button class="button" onclick='window.open("{{ site.api_documentation_url }}")'>
          Voir la documentation
        </button>
      </div>
    </div>
    <div class="row">
      <div class="column dashboard">
        <h2>
          Tableau de bord
        </h2>
        <p>
        Il est important de connaître la santé de nos dispotifs. Notre tableau de bord comporte les disponibilités historisées sur 7 jours, les disponibilités en temps réel ainsi que la liste des incidents. Ces fonctionnalités sont amenées à s'enrichir et à évoluer en fonction des retours et besoins remontés par les clients de l'API Entreprise.
        </p>
        <button class="button" onclick='window.open("{{ site.dashboard_url }}")'>
          Accéder au tableau de bord
        </button>
      </div>
      <div class="column icon">
        <img class="" src="{{ site.baseurl }}{% link assets/images/icons/icon-dashboard.svg %}" alt="Icon dashboard">
      </div>
    </div>
  </div>
</section>

<section class="section-grey api-access">
  <div class="container">
    <div class="row">
      <div class="column">
        <h2 class="text-center">
          Comment avoir accès à l'API Entreprise ?
        </h2>
        <p>
          La demande de connexion à l'API Entreprise est possible pour tout opérateur public qui souhaite opérer pour son compte, ou faire opérer par un éditeur privé, un service de dématérialisation ou de simplification administratives qui nécessite la mise en relation avec des fournisseurs d'informations publiques. La demande est effectuée à partir du service Démarches Simplifiées. Vous serez invité.e à vous créer un compte en deux clics, puis indiquer le SIRET de votre organisme, et compléter le formulaire de demande. Les échanges avant l'ouverture d'un compte d'accès à l'API Entreprise se feront au travers de ce service, qui vous invitera à préciser le périmètre de votre projet de simplification.
        </p>

        <div class="text-center">
          <a class="button" href="{{ site.signup_url }}" target="_blank">
            Demander un accès
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
