---
layout: default
---

<div class="home">
  <section class="tpl-hero">
    <div class="tpl-container tpl-flex-row tpl-flex-jc-sa">
      <h1 class="tpl-hero__title">
        <div class="headline">Vous êtes <span class="alternate">une administration</span><span class="alternate2">éditeur prestataire d'une administration</span></div>
        <div class="subtext">Simplifier les démarches des entreprises et des associations en récupérant pour elles leurs informations administratives</div>
    </div>
  </section>
  <section class="tpl-section use-cases">
    <div class="tpl-container">
      <h2>Dans quels cas utiliser API Entreprise ?</h2>
      <div id="test2" class="use-cases__list">
        <a href="{{ site.baseurl }}{% link _use_cases/marches_publics.md %}" class="tpl-card tpl-shadow">
          <div class="tpl-card__header">
            <h3 class="tpl-card__title">Faciliter les dossiers de candidature aux <strong>marchés publics</strong></h3>
          </div>
          <div class="tpl-card__content">
            <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/marches-publics-1.svg %}" alt="" />
            <p>Pré-remplissez les formulaires des entreprises postulant à vos appels d’offre et récupérez leurs justificatifs.</p>
          </div>
        </a>
        <a href="{{ site.baseurl }}{% link _use_cases/aides_publiques.md %}" class="tpl-card tpl-shadow">
          <div class="tpl-card__header">
            <h3 class="tpl-card__title">Faciliter le dépôt et l’instruction des demandes d’<strong>aides publiques</strong></h3>
          </div>
          <div class="tpl-card__content">
            <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/aide-publique.svg %}" alt="" />
            <p>Récupérez les justificatifs administratifs de vos utilisateurs demandant des aides publiques.</p>
          </div>
        </a>
        <a href="{{ site.baseurl }}{% link _use_cases/loi_energie.md %}" class="tpl-card tpl-shadow">
          <div class="tpl-card__header">
            <h3 class="tpl-card__title">Appliquer <strong>l’Article 64 de la loi énergie</strong></h3>
          </div>
          <div class="tpl-card__content">
            <img class="card__icon" src="{{ site.baseurl }}{% link assets/images/usecases/loi-energie.svg %}" alt="" />
            <p>Vérifiez l’éligibilité de vos clients aux tarifs réglementés d’énergie en accédant à une partie de leurs données (Article 64 de la loi énergie).</p>
          </div>
        </a>
      </div>
      <a class="tpl-button tpl-button--alternate">Tous les cas d’usages</a>
    </div>
  </section>
  <section class="tpl-section access">
    <div class="tpl-container">
      <h2>Comment demander un accès à l’API Entreprise ?</h2>
      <p>Seules les administrations et les sociétés chargées d’une mission de service publique sont éligibles.</p>
      <a class="tpl-button tpl-button--primary" href="{{ site.baseurl }}{% link pages/demander_un_acces.md %}">
        Demander un accès
      </a>
      <p>Vous n’êtes pas une administration ? Utilisez <a href="https://entreprise.data.gouv.fr">entreprise.data.gouv.fr</a></p>
    </div>
  </section>
  <section class="tpl-section join">
    <div class="tpl-container">
      <h2>Pourquoi utiliser API Entreprise ?</h2>
      <div class="tpl-flex-row">
        <div class="tpl-card">
          <div class="tpl-card__header">
            <img class="card__icon bullhorn" src="{{ site.baseurl }}{% link assets/images/join/bullhorn.svg %}" alt="" />
            <h3>Nous regroupons les fournisseurs de données pour vous ! </h3>
          </div>
          <div class="tpl-card__content">
            <dl class="tpl-description-list">
              <dt>Avant :</dt>
              <dd>Vous deviez aller demander toutes les données dont vous aviez besoins auprès des différentes des administrations. Cette recherche n’était pas toujours fructueuse car les organisations n'ont pas toujours un site ou un contact public pour leurs API.
              </dd>
              <dt>Aujourd’hui, avec API Entreprise :</dt>
              <dd>API Entreprise s’occupe de démarcher les administrations et de faire les différentes demandes d’accès.
              </dd>
            </dl>
          </div>
        </div>
        <div class="tpl-card">
          <div class="tpl-card__header">
            <img class="card__icon plug" src="{{ site.baseurl }}{% link assets/images/join/plug.svg %}" alt="" />
            <h3>Nous réalisons l’interfaçage technique avec les différentes API</h3>
          </div>
          <div class="tpl-card__content">
            <dl class="tpl-description-list">
              <dt>Avant :</dt>
              <dd>Vous étiez obligés de vous connecter et de vous adapter à tous les formats différents des API. Vous passiez beaucoup de temps à lire
les documentations techniques 
de chaque DSI afin d’effectuer 
les différentes intégrations.
              </dd>
              <dt>Aujourd’hui, avec API Entreprise :</dt>
              <dd>Désormais, API Entreprise s’occupe de tout. L’interfaçage ne se fait qu’avec nous, dans des standards à jour des contraintes industrielles. 
              </dd>
            </dl>
          </div>
        </div>
        <div class="tpl-card">
          <div class="tpl-card__header">
            <img class="card__icon grip" src="{{ site.baseurl }}{% link assets/images/join/grip.svg %}" alt="" />
            <h3>Un seul compte, un seul interlocuteur, plusieurs données</h3>
          </div>
          <div class="tpl-card__content">
            <dl class="tpl-description-list">
              <dt>Avant :</dt>
              <dd>Vous deviez gérer plusieurs mots 
de passe, plusieurs contacts techniques et métiers.
              </dd>
              <dt>Aujourd’hui, avec API Entreprise :</dt>
              <dd>Vous avez une seule clé d’accès sécurisée, nous nous occupons d’agréger et de vous restituer 
les connaissances techniques 
et métiers.
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tpl-section providers">
    <div class="tpl-container">
      <h2>Nos fournisseurs de données</h2>
      <ul class="providers__main text-center">
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/insee.png %}" alt="INSEE">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/infogreffe.png %}" alt="Infogreffe">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/dgfip.png %}" alt="Direction Générale des Finances Publiques">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/acoss.png %}" alt="ACOSS">
        </li>
      </ul>
      <ul class="providers__others text-center">
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/inpi.png %}" alt="INPI">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/qualibat.png %}" alt="Qualibat">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/rna.svg %}" alt="Répertoire National des Associations">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/cnetp.svg %}" alt="CNETP">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/probtp.png %}" alt="ProBTP">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/msa.png %}" alt="MSA">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/opqibi.png %}" alt="OPQIBI">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/fntp.png %}" alt="FNTP">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/agefiph.png %}" alt="AGEFIPH">
        </li>
      </ul>
    </div>
  </section>
</div>